@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
:root{
    /* Colores */
    --verde: #349c84;
    --blanco:#FFF;
    --negro: #000;
    --principal: #545464;
    --navitem: #555;

    /* Fuentes */
    --fuenteEnlaces:'Titillium Web', sans-serif;
    --fuenteHeader: 'Merriweather',serif;
    --fuentePrincipal:'IBM Plex Sans', sans-serif;
}
/*Globales, ayudan a estructurar mejor el contenido*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
}
li
{
    margin: 0;
}
.contenedor{
    width: 250rem;
    max-width: 100%;
    margin: 0 auto;
}
h1,h2,h3{
    text-align: center;
    /*color: var(--secundario);
    font-family: var(--fuentePrincipal);*/
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

/* Header */
.headerLogos{
    display:flex;
    justify-content: center;
}
@media (min-width: 821px) {
    .headerLogos{
        justify-content: inherit;
    }
}
.logos{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
@media (min-width: 821px) {
    .logos{
        height: 11rem;
        justify-content: space-between;
    }
}
.logos img{
    margin-left: 2rem;
}
/* Barra de navegación */
.navbar{
    background-color: var(--verde);
    padding: 0rem 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width:821px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        width: 250rem;
        max-width: 100%;
    }
}


.navbar__Options{
    list-style-type: none;
    align-items: center;
}
@media (min-width: 821px) {
    .navbar__Options{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.nav_item{
    padding: 0.5rem 0;
    font-family: var(--fuenteEnlaces);
    font-size: 3rem;
    text-align: center;
}

@media (min-width: 821px) {
    .nav_item{
        font-size: 2.1rem;
        padding: 0rem 0.5rem;
        text-align: justify;
    }
}
@media (min-width: 1000px) {
    .nav_item{
        font-size: 2.8rem;
        padding-right: 0rem;
        text-align: justify;
    }
}
.nav_item:hover{
    background-color: var(--navitem);
}
@media (min-width: 821px) {
    .nav_item{
        margin: 0 1rem;
        padding-right: 0;
    }
    .nav_item:hover{
        background-color: inherit;
    }
}
.nav_item, .nav_item a{
    color: var(--blanco);
}
.nav_item:hover, .nav_item a:hover{
    color: var(--blanco);

}
@media (min-width: 821px) {
    .nav_item:hover, .nav_item a:hover{
        color: var(--principal);
    
    }
}

/*Estilo para el dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 1.5rem 1.9rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}
.arrow {
    border: solid var(--blanco);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.3rem;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.pipe{
    color: var(--blanco);
    font-size: 3rem;
    padding-right:1.5rem;
    visibility: hidden;
}
@media (min-width: 821px) {
    .pipe{
        visibility: visible;
    }
}

/* Imagen de fondo que sirve como portada */
.portada{
    position: relative;
    background-image: url(/img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    position: absolute;
}
/*Capa de color que está encima de la imágen*/
.portada--gradient{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #349c84c7 0%, rgba(50, 99, 172, 0.87) 100%); 
}

/*Sección de bienvenido*/
.welcome{
    position: relative;
    margin-top: 5rem;
}
.welcome-image img{
    width: auto;
    height: 17rem;
}
@media (min-width: 821px) {
    .welcome{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .welcome-image img{
        height: 29rem;
        width: 40rem;
    }
}
@media (min-width: 821px) {
    .welcome-image img{
        height: 25rem;
        width: 30rem;
    }
}
@media (min-width: 1020px) {
    .welcome-image img{
        height: 100%;
        width: 45rem;
    }
}
@media (min-width: 1200px) {
    .welcome-image img{
        height: 100%;
        width: 50rem;
    }
}
.contenido-welcome{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: var(--blanco);
    border-radius: 5rem;
    width: auto;
    height: 32rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
@media (min-width: 821px) {
    .contenido-welcome{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.welcome-text h2{
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--fuenteHeader);
    margin-left: 0rem;
    color: #165ad8;
    font-size: 4rem;   
}
@media (min-width: 821px) {
    .welcome-text h2{
    font-size: 8rem; 
    }
}

/* Sección servicios*/
.lista-servicios{
    padding-top: 28rem;
    flex-direction: column;
    align-items: center;
    margin:5rem;
    margin-top:10rem ;
    display: none;
}

@media (min-width: 850px) {
    .lista-servicios{
        display: block;
        display: flex;
        padding-top: 1rem;
        flex-direction: row;
        justify-content: space-around;
    }
}
.servicio{
    width: 20rem;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 200;
    line-height: 100%;
    text-decoration: none;
}
.servicio-link{
    text-decoration: none;
    color: black;
}
.servicio p{
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
}

.hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    }
    .hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
/*Botones flotantes*/
#btn-mas{
    display: none;
    align-items: center;
    color: #fff;
}
.floats{
    position: fixed;
    z-index: 999;
    bottom: 50px;
    right: 20px;
}
.redes a, .btn-mas label{
    display: block;
    text-decoration: none;
    border-radius: 20%;
    border:2px solid white;
    color: #fff;
    width: 85px;
    height: 80px;
    line-height: 55px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}

.redes a{
    opacity: 0;
    visibility: hidden;
}
.redes .float{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    background:#3F34A1;
    
}
#btn-mas:checked ~ .btn-mas label{
    font-size: 25px;
    transform: rotate(180deg);
}

/* Slider*/
.slide-servicios{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

}
.swiper {
    border: 1px solid;
    padding: 10px;
    box-shadow:0px -8px 5px #545464;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width:100%;
    height: 10rem;
}
.swiper-slide img{
    width: 100%;
    height: 10rem;
}

@media (min-width: 768px) {
    .slide-servicios{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .swiper-slide img{
        width: 100%;
        height: 100%;
    }
    .swiper {
        width:auto;
        height: auto;
    }
}
/* Menu de cursos*/
.menu-main{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #349c84;/* linear-gradient(180deg, rgba(32, 63, 120, 0.9) 0%, rgba(50, 99, 172, 0.9) 100%); */
}
.menu-main img{
    max-width: 300px;
    max-height: 280px;
}
@media (min-width: 400px) {
    .menu-main{
        padding-top: 4rem;
        flex-direction: column;
        align-items: center;
        background: #349c84
    }
    .menu-main img{
        max-width: 350px;
        max-height: 310px;
    }

}

@media (min-width: 820px) {
    .menu-main{
        padding-top: 4rem;
        flex-direction: column;
        align-items: center;
        background: #349c84;
    }
    .menu-main img{
        max-width:500px;
        max-height: 310px;
    }

}

@media (min-width: 1175px) {
    .menu-main{
        padding-top: 4rem;
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
        background: #349c84;
    }
    .menu-main img{
        max-width: 500px;
        max-height: 420px;
    }
}
.menu-options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 7rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    width: 100%;
    height: 100%;
}


@media (min-width: 820px) {
    .menu-options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
    padding-bottom: 7rem;
    width: 50%;
    height: 39%;
    }
    
}
.menu-options 
button img{
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}
.menu-title{
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: 2.3rem;
    grid-column: 1 / 3;
    grid-row: 1;
}
.coolBeans{
  
    background-color: #f8f9fa;
    border-radius: 0.4rem;
    color: black;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}
.coolBeans::after{
    background-color: #746db8;
    border-radius: 0.4rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .35s transform ease-out;
    will-change: transform;
    z-index: -1;
}
.coolBeans:hover::after{
      transform: translate(0, 0);
}
.coolBeans:hover{
      border: 2px solid transparent;
      color: black;
      transform: scale(1.05);
      will-change: transform;
}

/* Comentarios */
.comentarios{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 2rem;
}
@media (min-width: 380px) {
    .comentarios{
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .comentarios{
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 1175px) {
    .comentarios{
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 1200px) {
    .comentarios{
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-around;
    }
}
.foto-opinion img{
    padding-left: 6.5rem;
    padding-top: 1rem;
    width: 300px;
    height: 200px;
}

.comentario-title{
    font-weight: bold;
    padding-top: 5%;
    padding-left: 8%;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
blockquote p {
    display: inline;
  }
  .nombre-carta{
    font-weight: bold;
    margin:0;
    text-align: center;
  }
  .carrera-carta{
    font-style: italic;
    margin:0;
    text-align: center;
}
.card{
    box-shadow: 0px 5px 10px -6px rgb(85, 85, 85);
    border-radius: 50px;
    width: 22.5rem;
}
@media (min-width: 380px) {
    .card{
        width: 25rem;
    }
}