@import "designs/variables";
@import "designs/mixins";

.header1{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    @include tablet{
        justify-content: space-between;
    }
    .unicapart{
        @include tablet{
            margin-right: 2rem;
        }
    }
    img{
        margin-left: 1rem;
        @include tablet{
            margin-left: 2rem;
        }
    }
}
.header2{
    background-color: $secundario;
    width: auto; 
    border-color: rgb(156, 216, 196) black $secundario;
    border-width: 5px 0px;
    border-style: ridge;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet{
        display: flex;
        flex-direction: row;
        gap: 20%;
        height: 10rem;
    }
    .headerlogo{
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: inline;
        @include tablet{
            padding-left: 2rem;
        }
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
        }
        .headeroption{
            font-size: $title-font-size;  
            padding-top: 0px;        
            padding-right:2rem;
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

    }
    .headeroption:hover{
        color: $principal;
    }
    .pipe{
        color: white;
        font-size: $title-font-size;
        padding-right:2rem;
        visibility: hidden;
        @include tablet{
            visibility: visible;
        }
    }
    .headerlogo{
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .headerlogo img{
        max-width: 90%;
        max-height: 90%;
    }
    
}


