$base-font-size: 16px;
$title-font-size:25px;
$principal: #545464;
$secundario: #349c84 ;
$botones: #d4ec8c ;
$iconos: #6cc474;
// $principal: #244474 ;
// $secundario: #3c6ca4  ;
// $botones: #88a4cc  ;
// $iconos: #bcdcf4;
$verdeUnica : green;

